{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container mt-5 mb-5">
    <center><h3 class="mb-5">BEST HOTELS IN THE CITY</h3></center>
     <div class="row">
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img2.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel1</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img2.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel2</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img3.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel3</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img4.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel4</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        
    </div>
    <div class="row ">
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img2.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel5</a></h4>
                    <!-- Text -->
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img2.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel6</a></h4>
                    <!-- Button -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">view</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img3.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel7</a></h4>
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        <div class="col-md-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="{% static 'images/img4.jpg' %}" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h4 class="card-title"><a>Hotel8</a></h4>
                    <!-- Text -->
                    <a href="{% url 'hotel' %}" class="btn btn-primary">View</a>
  
                </div>
  
            </div>
            <!-- Card -->
          
        </div>
        
    </div>
</div>

{% endblock %}